%h2 Details about "#{@book.title}"
 
%ul#details
  %li
    Author:
    = @book.author
  %li
    Genre:
    = @book.genre
  %li
    Isbn:
    = @book.isbn
  %li
    Publish Date:
    = @book.publish_date.strftime("%B %d, %Y")
 
%h3 Description:
 
%p#description= @book.description

= link_to 'Back to books list', books_path
= link_to 'Edit info', edit_book_path(@book)
= link_to 'Delete', book_path(@book), :method => :delete
= link_to 'Find Books With Same Author', search_similar_books_path(@book)